/* Header */
.mainHeader {
    background-color: #56D0CB;
    position: relative;
    border-bottom: 3px solid #00736F;
    height: 100px;
    float: top;
}

.headerBoxContent {
    position: relative;
    width: 960px;
    height: 100px;
    margin: auto;
}

.headerMyName {
    float: left;
    height: 100px;
    text-align: center;
    padding: 25px 50px 0px 50px;
    font-weight: bolder;
    font-size: 24px;
    color: white;

}

.headerButtons {
    float: right;
    margin-top: 25px;
}

li {
    display: inline-block;
}

/* background image */

.mainBackground {
        background-color: #0abab5;
    }

/*About Me*/

.bodyBox {
    width: 960px;
    margin: 150px auto 150px auto;
    border: 3px solid #00736F;
    background-color: white;
    padding: 50px;
}

.bodyIntro {
    padding-bottom: 50px;
    border-bottom: 3px solid #00736F;
    margin-bottom: 50px;
}

.aboutMeImage {
    width: 25%;
    height: auto;
    float: left;
    padding-right: 25px;
}

.portfolioPics {
    position: relative;
    margin: 10px 10px 20px 10px;
    display: inline-block;
}

.portfolioWords {
    position: absolute;
    padding: 10px;
    margin-top: -40px;

}

/* Footer */


.mainFooter {
    background-color: #56D0CB;
    position: relative;
    border-top: 3px solid #00736F;
    height: 100px;
}

.footerBoxContent {
    position: relative;
    width: 960px;
    height: 100px;
    margin: auto;
    text-align: center;
    padding-top: 60px;
}



/*Additional Specs */
.teal {
    background-color: #00958F;
}

.fontColor {
    color: #777777;
}


.footer {
    background-color: #666666;
}

.mainContent {
    background-color: #ffffff;
    border-color: #dddddd;
}

.headingFonts {
    font-family: "Georgia", Times, "Times New Roman", serif;
}

.otherFonts {
    font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
}


